@font-face {
  font-family: 'Elegant';
  src: url("../fonts/ElegantLux-Mager.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ElegantLux-Mager.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantLux-Mager.woff") format("woff"), url("../fonts/ElegantLux-Mager.woff2") format("woff2"), url("../fonts/ElegantLux-Mager.ttf") format("truetype"), url("../fonts/ElegantLux-Mager.svg#ElegantLux-Mager") format("svg");
  /* Legacy iOS */ }
* {
  font-family: 'Elegant', Helvetica;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale; }

.innerWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee; }
  .innerWrap section {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .innerWrap a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/* JS disabled styles */
.no-js nav li:hover ul {
  display: block !important; }

header {
  position: fixed;
  width: 100%;
  height: 76px;
  z-index: 1000000000; }
  header #main_logo {
    position: absolute;
    top: 42px;
    left: 4.5%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
    header #main_logo img {
      vertical-align: top; }
  header #main_nav {
    position: absolute;
    display: block;
    width: 540px;
    right: 10%;
    text-transform: uppercase; }
    header #main_nav .main_ul {
      position: absolute;
      height: 100%;
      margin: 0;
      padding: 0; }
      header #main_nav .main_ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      header #main_nav .main_ul .main_nav_link {
        position: relative;
        float: left;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 104px;
        padding: 0 8px;
        margin: 0 12px;
        list-style-type: none;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out; }
        header #main_nav .main_ul .main_nav_link a {
          display: block;
          width: 100%;
          color: #000;
          text-decoration: none; }
          header #main_nav .main_ul .main_nav_link a:focus {
            outline: none; }
          header #main_nav .main_ul .main_nav_link a h3 {
            font-size: 18px;
            margin-top: 32px;
            margin-bottom: 19px;
            display: inline-block; }
          header #main_nav .main_ul .main_nav_link a .dropdown_arrow {
            position: relative;
            width: 0;
            height: 0;
            display: inline-block;
            top: -2px;
            left: 8px;
            border-top: 6px solid #000;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent; }
        header #main_nav .main_ul .main_nav_link .sub_ul {
          display: none;
          position: absolute;
          width: 100%;
          height: auto;
          left: 4px;
          padding: 0;
          border-bottom: 1px solid #919191;
          list-style-type: none; }
          header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link {
            width: 100%;
            float: none;
            margin: 0;
            padding: 0;
            border-top: 1px solid #919191; }
            header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link a {
              padding: 0 0 0 7px;
              border-left: none;
              border-right: none;
              font-size: 14px; }
              header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link a:hover {
                opacity: 0.5;
                filter: alpha(opacity=50);
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
                -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }
              header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link a h4 {
                font-size: 9px;
                -webkit-font-smoothing: auto;
                color: #000;
                margin-top: 11px; }
              header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link a h5, header #main_nav .main_ul .main_nav_link .sub_ul .sub_nav_link a h6 {
                font-size: 13px;
                letter-spacing: 1px;
                color: #686868;
                margin-top: 0;
                margin-top: 12px;
                margin-bottom: 14px; }

#product_carousel {
  background-color: #fff;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

.carousel_container {
  position: absolute;
  width: 84%;
  height: 54%;
  min-height: 384px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .carousel_container .product_type {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2%; }
  .carousel_container .carousel_simple {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .carousel_container .carousel_simple .inner_slider {
      position: relative;
      width: 200%;
      height: 100%;
      left: 0;
      display: block;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out; }
      .carousel_container .carousel_simple .inner_slider .product_card {
        position: relative;
        float: left;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        width: 16.6666666667%;
        height: 100%;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1%; }
        .carousel_container .carousel_simple .inner_slider .product_card .img_container {
          position: relative;
          width: 100%;
          height: 75%;
          overflow: hidden;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          .carousel_container .carousel_simple .inner_slider .product_card .img_container img {
            position: absolute;
            width: 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
        .carousel_container .carousel_simple .inner_slider .product_card .info_container {
          position: relative;
          width: 100%;
          height: 25%; }
          .carousel_container .carousel_simple .inner_slider .product_card .info_container .product_name, .carousel_container .carousel_simple .inner_slider .product_card .info_container .product_price {
            margin: 0 0 10px 0;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase; }

.arrow_container {
  position: absolute;
  width: 20px;
  height: 50px;
  margin: auto;
  top: -5%;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .arrow_container .carousel_arrows {
    display: block;
    position: absolute;
    width: 20px;
    height: 28px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: transparent url("../img/carousel_arrows.png") no-repeat;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .arrow_container .left_carousel_arrow {
    background-position: left center; }
    .arrow_container .left_carousel_arrow:hover {
      -webkit-transform: translate(-5px, 0);
      -moz-transform: translate(-5px, 0);
      -ms-transform: translate(-5px, 0);
      -o-transform: translate(-5px, 0);
      transform: translate(-5px, 0); }
  .arrow_container .right_carousel_arrow {
    background-position: right center; }
    .arrow_container .right_carousel_arrow:hover {
      -webkit-transform: translate(5px, 0);
      -moz-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
      -o-transform: translate(5px, 0);
      transform: translate(5px, 0); }
  .arrow_container .gray_arrow {
    opacity: 0.4;
    filter: alpha(opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }

.left_arrow_nav {
  right: 92%; }

.right_arrow_nav {
  left: 92%; }

.return_to_collection {
  position: absolute;
  width: 132px;
  height: 38px;
  left: 45px;
  bottom: 31px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .return_to_collection:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }
  .return_to_collection div {
    position: relative;
    float: left;
    height: 100%; }
  .return_to_collection .return_arrow {
    width: 10px;
    margin-right: 17px; }
    .return_to_collection .return_arrow .draw_arrow {
      position: relative;
      width: 0;
      height: 0;
      top: 39%;
      border-right: 8px solid #000;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent; }
  .return_to_collection .return_data {
    width: 105px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 3px;
    border-bottom: 1px solid #919191; }
    .return_to_collection .return_data div {
      width: 100%; }
      .return_to_collection .return_data div h4, .return_to_collection .return_data div h5 {
        margin: 0; }
    .return_to_collection .return_data .collection_type {
      height: 39%; }
      .return_to_collection .return_data .collection_type h4 {
        color: #000;
        font-size: 9px;
        -webkit-font-smoothing: auto; }
    .return_to_collection .return_data .collection_name {
      height: 61%; }
      .return_to_collection .return_data .collection_name h5 {
        color: #686868;
        font-size: 13px;
        letter-spacing: 1px; }

footer {
  z-index: 1000000000;
  position: fixed;
  width: 63px;
  height: 20px;
  right: 68px;
  bottom: 32px; }
  footer li {
    position: relative;
    float: left;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    width: 20px;
    height: 100%;
    text-transform: uppercase;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  footer a {
    display: block;
    width: 100%;
    height: 100%; }
  footer img {
    vertical-align: baseline; }
  footer .firstBttn {
    float: left; }
  footer .secondBttn {
    float: right; }

.home_left_images {
  background-color: #e5e3e4;
  min-height: 500px;
  line-height: 100vh; }
  .home_left_images .big_img_container {
    position: relative;
    width: 62.5%;
    height: 100%;
    background: url("../img/img-1.jpg");
    background-size: cover;
    background-position: bottom left;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out; }
  .home_left_images .filter_white {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.1;
    filter: alpha(opacity=10);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }

.fadeUpIn {
  -webkit-transform: translate(0px, 20px);
  -moz-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  -o-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }

.fadeLeftIn {
  -webkit-transform: translate(10px, 0px);
  -moz-transform: translate(10px, 0px);
  -ms-transform: translate(10px, 0px);
  -o-transform: translate(10px, 0px);
  transform: translate(10px, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(($val * 100))'; }

/*# sourceMappingURL=styling.css.map */
