/* JS disabled styles */
.no-js nav li:hover ul { display:block; }

nav{
	z-index: 1000000000;
	position: fixed;
	width: 100%;
	height: 56px;
	// border: 1px solid $mbrtDarkGray;
	
	#dropdown_menu{
		position: absolute;
		width: 50%;
		margin: 0;
		padding: 0;

		li{
			@include displayLeft();
			width: 25%;
		}

		.dropdown_arrow{
			position: relative;
			width: 0; 
			height: 0;
			top: 12px;
			left: 10px;
			border-top: 8px solid #000;

			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}
	}
}