/* JS disabled styles */
.no-js nav li:hover ul { display:block; }


nav{
	z-index: 1000000000;
	position: fixed;
	width: 100%;
	height: 66px;
	display:block; 
	margin:  0 auto 20px; 
	position: relative; 
	// background-color: #6a6a6a;
	text-transform: uppercase;
	
	ul{
		position: absolute;
		height: 100%;
		margin: 0;
		padding: 0;

		&:after{
			content:".";
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
		}

		// Main Nav Links
		li{
			@include displayLeft();
			width: 104px;
			margin: 0 10px;
			list-style-type:none;
			font-size: 15px;

			a { 
				display:block;
				width: 100%;
				color:#000;
				text-decoration:none;

				&:focus{
					outline:none; 
					text-decoration:underline; 
				}

				h3{
					margin-top: 36px;
					margin-bottom: 19px;
					display: inline-block;
				}
			}

			li:first-child a { 
				border-left:none; 
			}

			li.last a { 
				border-right:none; 
			}

			// Inner dropdown
			ul{
				display:none; 
				width:100%;
				height: auto;
				position:absolute; 
				left:0;
				border-bottom: 1px solid #919191;

				// Sub Nav Links
				li{
					width: 100%;
					float:none;
					margin: 0;
					border-top: 1px solid #919191;

					a{ 
						padding: 0;
						border-left:none;
						border-right:none;
						font-size:14px;

						&:hover{
							@include opacity(0.5);
						}

						h4{
							font-size: 9px;
							-webkit-font-smoothing: auto;
							color: #000;
							margin-top: 11px;
						}

						h5{
							font-size: 12px;
							color: #686868;
							margin-top: 0;
							margin-top: 12px;
							margin-bottom: 14px;
						}
					}
				}

				
			}
		}

		.dropdown_arrow{
			position: relative;
			width: 0; 
			height: 0;
			display: inline-block;
			left: 8px;
			border-top: 8px solid #000;

			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
		}
	}
}

