header{
	z-index: 1000000000;
	position: fixed;
	width: 100%;
	height: 56px;
	// border: 1px solid $mbrtDarkGray;

	.logoHome{
		position: absolute;
		width: 148px;
		height: 18px;
		bottom: 0px;
		left: 85px;

		a{
			position: absolute;
			width: 100%;
			height: 100%;
		}

		img{
			width: 100%;
			vertical-align: baseline;
		}
	}
	
	#dropdownMenu{
		position: absolute;
		width: 50%;
		right: 0;
		margin: 0;
		padding: 0;

		li{
			@include displayLeft();
			width: 25%;
		}
	}
}