// Helpers Classes
@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/hovers';


// Default Styling	

*{
	font-family: 'Elegant', Helvetica;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

.innerWrap{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	@include sizeFix();
	background-color: #eee;

	section{
		z-index: 1;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
	}

	a{
		@include transitions(all, 0.3s, ease-in-out);
	}
}


// Snippets Classes
@import 'snippets/dropdown_menu';
@import 'snippets/carousel-simple.scss';
@import 'snippets/footer';


// Section Classes by Content
@import 'sections/home-big_background_left';






