// Carousel Variables
$total_products: 6;
$products_to_show: 4;
$product_card_width: 100% / $total_products;
$inner_slider_width: (100% / $products_to_show) * $total_products;
$transitions_timing: 0.6s;

.carousel_container{
	position: absolute;
	width: 84%;
	// height: 504px;
	height: 54%;
	min-height: 384px;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;

	border: 1px solid gray;
	@include sizeFix();

	.product_type{
		position: relative;
		margin: 0;
		text-transform: uppercase;
		font-size: 50px;
		line-height: 50px;
		letter-spacing: 5px;
	}

	.carousel_simple{
		position: relative;
		width: 100%;
		// height: 454px;
		height: 90%;
		overflow: hidden;

		border: 1px solid green;
		@include sizeFix();

		.inner_slider{
			position: relative;
			width: $inner_slider_width;
			height: 100%;
			left: 0;
			display: block;

			@include transitions(all, $transitions_timing, ease-in-out);

			.product_card{
				@include displayLeft();
				width: $product_card_width;
				height: 100%;
				text-align: center;
				// background-color: #fff;
				box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

				.img_container{
					position: relative;
					width: 100%;
					height: 75%;
					padding: 0 10%;
					
					@include sizeFix();
					border: 1px solid aqua;

					img{
						position: absolute;
						margin: auto;
						top: 0; bottom: 0;
						left: 0; right: 0;
					}
				}

				.info_container{
					position: relative;
					width: 100%;
					height: 25%;

					.product_name, .product_price{
						margin: 0 0 10px 0;
						font-size: 14px;
						letter-spacing: 1px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

// Carousel Navigation
.arrow_container{
	position: absolute;
	width: 20px;
	// height: 454px;
	height: 50px;
	margin: auto;
	top: 50px;
	bottom: 0;

	border: 1px solid red;
	@include sizeFix();

	.carousel_arrows{
		display: block;
		position: absolute;
		width: 20px;
		height: 28px;
		margin: auto;
		top: 0; bottom: 0;
		background:transparent url('../img/carousel_arrows.png') no-repeat;

		@include transitions(all, 0.5s, ease-in-out);
	}

	.left_carousel_arrow{
		background-position: left center;

		&:hover{
			@include translate(-5px, 0);
		}
	}
	.right_carousel_arrow{
		background-position: right center;

		&:hover{
			@include translate(5px, 0);
		}
	}

	.gray_arrow{
		@include opacity(0.4);
	}
}

.left_arrow_nav{right: 92%;}
.right_arrow_nav{left: 92%;}

.return_to_collection{
	position: absolute;
	width: 132px;
	height: 38px;
}