/* JS disabled styles */
.no-js nav li:hover ul { display:block !important; }

header{
	position: fixed;
	width: 100%;
	height: 76px;
	z-index: 1000000000;

	#main_logo{
		position: absolute;
		top: 42px;
		left: 4.5%;

		@include transitions(all, 0.8s, ease-in-out);

		img{
			vertical-align: top;
		}
	}

	#main_nav{
		position: absolute;
		display:block;
		width: 540px;
		right: 10%;
		text-transform: uppercase;
		
		// Whole dropdown
		.main_ul{
			position: absolute;
			height: 100%;
			margin: 0;
			padding: 0;

			&:after{
				content:".";
				display:block;
				height:0;
				clear:both;
				visibility:hidden;
			}

			// Main Nav Links
			.main_nav_link{
				@include displayLeft();
				@include sizeFix();
				min-width: 104px;
				padding: 0 8px;
				margin: 0 12px;
				list-style-type:none;

				@include transitions(all, 0.8s, ease-in-out);

				a { 
					display:block;
					width: 100%;
					color:#000;
					text-decoration:none;

					&:focus{
						outline:none;
					}

					h3{
						font-size: 18px;
						margin-top: 32px;
						margin-bottom: 19px;
						display: inline-block;
					}

					.dropdown_arrow{
						position: relative;
						width: 0; 
						height: 0;
						display: inline-block;
						top: -2px;
						left: 8px;
						border-top: 6px solid #000;

						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
					}
				}

				// Inner dropdown
				.sub_ul{
					display:none;
					position: absolute; 
					width:100%;
					height: auto; 
					left: 4px;
					padding: 0;
					border-bottom: 1px solid #919191;
					list-style-type:none;
					// background-color: #eee;

					// Sub Nav Links
					.sub_nav_link{
						width: 100%;
						float:none;
						margin: 0;
						padding: 0;
						border-top: 1px solid #919191;

						a{ 
							padding: 0 0 0 7px;
							border-left:none;
							border-right:none;
							font-size:14px;

							&:hover{
								@include opacity(0.5);
							}

							h4{
								font-size: 9px;
								-webkit-font-smoothing: auto;
								color: #000;
								margin-top: 11px;
							}

							h5, h6{
								font-size: 13px;
								letter-spacing: 1px;
								color: #686868;
								margin-top: 0;
								margin-top: 12px;
								margin-bottom: 14px;
							}
						}
					}
				}
			}
		}
	}
}